<%= simple_form_for([:admin,@member], url: member_invitation_path , remote: true, html: { id: "form_main" }) do |f| %>

    <%= render partial: 'admin/dashboard/errors',locals: {resource: @member} %>

    <%= f.simple_fields_for :person do |p| %>
        <%= render 'admin/dashboard/person_fields', p: p %>
    <% end %>

    <%= f.input :email, required: true, validate: true, error: false %>
    <span class='help-block client_side_error' id="<%= "#{f.object_name}[email]" %>"></span>

    <h4>Administrator?</h4>

    <%= f.input :isAdmin, label:"Admin?", validate: true, error: false%>
    <span class='help-block client_side_error' id='error_text_isAdmin'></span>

    <h4>Student Member?</h4>
    <div class="row" >
      <div class="col-md-2">
        <%= f.input :isStudent, label: "Student Member?", error: false %>
        <span class='help-block client_side_error' id='error_text_isStudent'></span>
      </div>

      <div class="col-md-6">

        <div id="member_to_from_div" class="form-inline" style="display: none">
          <%= f.input :member_from, as: :date, start_year: 1990, end_year: Date.today.year + 10,  error: false, discard_month: true, discard_day: true, include_blank: true %>

          <%= f.input :member_to, as: :date, start_year: 1990, end_year: Date.today.year + 10, discard_day: true, discard_month: true,error: false, include_blank: true %>
        </div>
      </div>
    </div>
<% end %>
