<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @publication.date_time %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @publication.pages %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @publication.abstract %>
</p>
<%= link_to 'Create author', new_publication_author_path(@publication) %> <br>
<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
