<%= part.input :administrative_title, validate: true, error: false %>
<span class='help-block client_side_error' id="<%= "#{part.object_name}[administrative_title]" %>"></span>

<%= part.input :title, validate: true, error: false %>
<span class='help-block client_side_error' id="<%= "#{part.object_name}[title]" %>"></span>

<%= part.input :email, validate: true, error: false %>
<span class='help-block client_side_error' id="<%= "#{part.object_name}[email]" %>"></span>