<div class="col-md-3 left_col">
  <div class="left_col scroll-view">

    <div class="navbar nav_title" style="border: 0;">
      <%= link_to "<i class='fa fa-tachometer'></i> <span>EDIT Group </span>".html_safe, admin_path, class: 'site_title' %>
    </div>
    <div class="clearfix"></div>

    <!-- menu prile quick info -->
    <div class="profile">
      <div class="profile_pic">
        <% if current_member.avatar? %>
          <%= image_tag current_member.avatar.url, class: "img-circle profile_img" %>
        <% else %>
            <div class="img-circle profile_img"><i class="fa fa-user" aria-hidden="true" style="font-size: 45px; padding-left: 5px"></i></div>
        <% end %>

      </div>
      <div class="profile_info" style="margin-bottom: 30px">
        <span>Welcome, </span>
        <h2> <%= "#{current_member.firstName} #{current_member.lastName}" %> </h2>
      </div>
    </div>
    <!-- /menu prile quick info -->

    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

      <div class="menu_section">
        <h3>Administator</h3>
        <ul class="nav side-menu">
          <li class="collapsable">
            <a> <i class="fa fa-bar-chart-o"></i> Charts <span class="fa fa-chevron-down"></span> </a>
            <ul class="nav child_menu" style="display: none">
              <li>
                <!-- LINK HERE THANOS  -->
                <a>Charts Data</a>
              </li>
              <li>
                <!-- HERE TOO THANOS  -->
                <a> Charts Website</a>
              </li>
            </ul>
          </li>

          <li>
            <%# link_to admin_news_events_path do %>
            <%= link_to admin_news_events_path do %>
              <i class="fa fa-newspaper-o"></i> News
            <% end %>
          </li>

          <li class="collapsable">
            <a><i class="fa fa-users"></i> Members <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <li>
                <%= link_to admin_members_path do %>
                    <i class="fa fa-users fa-fw"></i> Main Members <span class="fa"></span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_members_student_members_index_path do %>
                    <i class="fa fa-users fa-fw"></i> Student Members <span class="fa"></span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_members_invites_index_path do %>
                    <i class="fa fa-envelope-square fa-fw" aria-hidden="true"></i> Invitations<span class="fa"></span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_website_templates_path do %>
                    <i class="fa fa-cloud fa-fw" aria-hidden="true"></i> Website Types<span class="fa"></span>
                <% end %>
              </li>
            </ul>

          </li>

          <li>
            <%= link_to admin_projects_path do %>
                <i class="fa fa-circle-thin fa-fw"></i> Projects <span class="fa"></span>
            <% end %>
          </li>

          <li class="collapsable">
            <a><i class="fa fa-book"></i> Publications <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <li>
                <%= link_to  admin_publications_path do %>
                  All Publications
                <% end %>
              </li>
              <li>
                <%= link_to admin_conferences_path do %>
                    Conferences
                <% end %>
              </li>
              <li>
                <%= link_to admin_journals_path do %>
                  Journals
                <% end %>
              </li>
            </ul>
          </li>

          <li>
            <%= link_to admin_preferences_path do %>
                <i class="fa fa-cog" aria-hidden="true"></i> Site Preferences
            <% end %>
          </li>

        </ul>
      </div>

      <!-- Back to main site -->

      <div class="menu_section" style="bottom: 0; left: 1px; ">

        <h3>Back to Main Site</h3>
        <ul class="nav side-menu">
          <li>
            <%= link_to root_path do %>
                <i class="fa fa-home"></i> Main Site <span class="fa"></span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_member_session_path, method: :delete do %>
              <i class="fa  fa-sign-out"></i> Log Out <span class="fa"></span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->
  </div>
</div>
