
<% if modal_type == "remove_publication" %>

  $("#confirmation_modal .modal-body").html("By deleting the memeber, this publication will not belong to any members. Do you also want to remove the entire publication from the system?");
  var buttons = "<a data-remote='true' rel='nofollow' data-method='delete' class='btn btn-danger' href='/admin/publications/<%= publication_id %>/authors/<%= author_id %>'>Remove Only Member</a> <a rel='nofollow' data-method='post' class='btn btn-danger' href='/admin/publications/<%= publication_id %>/authors/delete_publication' style='float: left'>Remove Entire Publication</a>";

<% elsif modal_type == "remove_author" %>

  $("#confirmation_modal .modal-body").html("Are you sure you want to remove this Author?");
  var buttons = "<a data-remote='true' rel='nofollow' data-method='delete' class='btn btn-danger' href='/admin/publications/<%= publication_id %>/authors/<%= author_id %>'>Remove Author</a> ";

<% elsif modal_type == "member_remove_publications" %>

  $("#confirmation_modal .modal-body").html("Are you sure you want to remove this Member? <p>By deleting <%= member_name %> the following publications will belong to no other members: <%= raw publications_string_array %> <p>Do you want to delete them too?");
  var buttons = $("<a data-remote='true' rel='nofollow' data-method='delete' class='btn btn-danger' href='/admin/members/<%= member_id %>'>Remove Only Member</a> <a data-remote='true' rel='nofollow' data-method='delete' class='btn btn-danger' href='/admin/member/<%= member_id %>/destroy_with_publications'>Remove Member and Publications</a>");

<% elsif modal_type == "member_remove" %>
  $("#confirmation_modal .modal-body").html("Are you sure you want to remove this Member?");
  var buttons = $("<a data-remote='true' rel='nofollow' data-method='delete' class='btn btn-danger' href='/admin/members/<%= member_id %>'>Remove Member</a>");
<% end %>

$("#confirmation_modal #modal_confirmation_buttons").html(buttons);
showConfirmationModal();
