<%= javascript_include_tag 'invitations' %>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="center-block set_up_account_form">

      <h1>Welcome! Please set up your account...</h1>
      <%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>

          <%= render partial: 'admin/dashboard/errors',locals: {resource: @member} %>

          <div class="form-inputs">
            <%= f.hidden_field :invitation_token %>

            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="row">
                <h4>Personal Information</h4>
                  <%= f.simple_fields_for :participant do |part| %>
                      <%#= render 'admin/dashboard/participant_fields', part: part %>
                      <div class=" col-lg-2 col-md-2 col-sm-12" style="padding-left: 0;">
                        <%= part.input :title, validate: true, error: false %>
                        <span class='help-block client_side_error' id="<%= "#{part.object_name}[title]" %>"></span>
                      </div>
                  <% end %>
                  <%= f.simple_fields_for :person do |p| %>
                    <%#= render 'admin/dashboard/person_fields', p: p %>
                    <div class="col-lg-5 col-md-5 col-sm-12" style="padding-left: 0">
                      <%= p.input :firstName, validate: true, error: false %>
                      <span class='help-block client_side_error ' id="<%= "#{p.object_name}[firstName]" %>"></span>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12" style="padding-left: 0; padding-right: 0">
                      <%= p.input :lastName, validate: true, error: false %>
                      <span class='help-block client_side_error' id="<%= "#{p.object_name}[lastName]" %>"></span>
                    </div>
                  <% end %>
                  <%= f.simple_fields_for :participant do |part| %>
                      <%#= render 'admin/dashboard/participant_fields', part: part %>
                      <%= part.input :administrative_title, validate: true, error: false %>
                      <span class='help-block client_side_error' id="<%= "#{part.object_name}[administrative_title]" %>"></span>
                      <%= part.input :email, validate: true, error: false, label: "Contact Email" %>
                      <span class='help-block client_side_error' id="<%= "#{part.object_name}[email]" %>"></span>
                  <% end %>
              </div>

              <div class="row">
                <%= f.input :bio, validate: true, error: false %>
                <span class='help-block client_side_error' id="<%= "#{f.object_name}[bio]" %>"></span>
              </div>

              <div class="row">
                <h4>Authentication</h4>

                <%= f.input :email, required: true, error: false %>
                <span class='help-block client_side_error' id="<%= "#{f.object_name}[email]" %>"></span>

                <%= f.input :password, required: true, validate: true, error: false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                <span class='help-block client_side_error' id="<%= "#{f.object_name}[password]" %>"></span>

                <%= f.input :password_confirmation, required: true, validate: true,error: false %>
                <span class='help-block client_side_error' id="<%= "#{f.object_name}[password_confirmation]" %>"></span>


              </div>
            </div>

            <%#= f.simple_fields_for :person do |p| %>
                <%#= render 'admin/dashboard/person_fields', p: p %>
            <%# end %>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="row col-lg-12 col-md-12 col-sm-12">
                <h4>Upload your Avatar</h4>
                <div class="col-md-4 col-lg-4 col-sm-12" >
                  <%= content_tag(:div, @member.avatar? ? image_tag(@member.avatar.url, class:"image_thumbnail") : fa_icon("user", class:"image_thumbnail") ) %>
                </div>
                <div class="col-md-8 col-lg-8 col-sm-12">
                  <%= f.file_field :avatar %>
              </div>

              <div class="row col-lg-12 col-md-12 col-sm-12" >
                <h4 style="border-top: 1px solid #c8ccce; padding-top: 20px;">Personal Websites</h4>
                <div class="form-group">
                  <%= f.fields_for :personal_websites do |w| %>
                      <div class="col-md-3 col-lg-3 col-sm-12">
                        <%= w.association :website_template, label_method: :website_name,value_method: :id, prompt: "Websites", validate: true, error: false, label: "Websites" %>
                        <span class='help-block client_side_error' id="<%= "#{w.object_name}[website_template_id]" %>"></span>
                      </div>
                      <div class="col-md-8 col-lg-8 col-sm-12">
                        <%= w.input :url, label: 'URL', validate: true, error: false %>
                        <span class='help-block client_side_error' id="<%= "#{w.object_name}[url]" %>"></span>
                      </div>
                  <% end %>
                </div>
                <div class="col-lg-6 col-lg-offset-4">
                  <%= link_to_add_association 'add website', f, :personal_websites, partial: 'admin/dashboard/personal_website_fields',render_options: { locals: {f: f} } %>
                </div>
              </div>
            </div>
          </div>




      </div>
    </div >
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="padding: 0; text-align: center; border-top: 1px solid #c8ccce; padding-top: 15px">
    <%= f.button :submit, "SUBMIT", style: "width: 150px; font-weight: bolder;", class: "btn btn-success" %>
  </div>
  <div class="col-md-5">
  </div>
</div>
<% end %>
</div>
