<div class="default-publication">
  <div class="default-publication-image">
    <% if publication.journal %>
      <%= image_tag("report") %>
    <% elsif publication.conference %>
      <%= image_tag("conference") %>
    <% else %>
      <h1>shit's going down</h1>
    <% end %>
  </div>
  <div class="default-publication-content">
    <p>
      <%= publication.cite(@citation) %>
    </p>
    <button class="default-publication-read-more"
            data-toggle="collapse"
            role="button"
            data-target="#default-publication-info-<%= publication.id%>">
      V
    </button>
    <div class="collapse" id="default-publication-info-<%= publication.id%>">
      hey i am collapsible
    </div>
  </div>
</div>
