<div class="publication-timeline-block">
  <div class="publication-timeline-img timeline-conference">
    <% if publication.journal %>
      <%= image_tag("report") %>
    <% else %>
      <%= imate_tag("conference") %>
    <% end %>
  </div> <!-- cd-timeline-img -->

  <div class="publication-timeline-content">
    <h2><%= publication.title %></h2>
    <p><%= @citation_list[index] %></p>
    <span class="timeline-date"><%= publication.date.strftime("%d %b %Y") %></span>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->
