<div class="publication-timeline-block">
  <% if publication.journal %>
    <div class="publication-timeline-img timeline-journal">
      <%= image_tag("report") %>
    </div>
  <% else %>
    <div class="publication-timeline-img timeline-conference">
      <%= image_tag("conference") %>
    </div>
  <% end %>

  <div class="publication-timeline-content">
    <h2><%= publication.title %></h2>
    <p><%= @citation_list[index] %></p>
    <span class="timeline-date"><%= publication.date.strftime("%d %b %Y") %></span>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->
