<%= simple_form_for([:admin,@news_event], remote: true, html: { id: "form_main" }) do |f| %>
  <%= render partial: 'admin/dashboard/errors',locals: {resource: @news_event} %>

  <div class="form-inputs">
    <%= f.input :date, as: :date, start_year: 2001, end_year: Date.today.year + 10, error: false %>
    <span class='help-block client_side_error' id="<%= "#{f.object_name}[date]" %>"></span>

    <%= f.input :title, validate: true, error: false %>
    <span class='help-block client_side_error' id="<%= "#{f.object_name}[title]" %>"></span>

    <%= f.input :content, validate: true, error: false %>
    <span class='help-block client_side_error' id="<%= "#{f.object_name}[content]" %>"></span>
  </div>

<% end %>
