<div class="member-card">
  <%= image_tag(member.avatar.url, class: "member-image") %>
  <p class="member-name">
    <%= member.participant.title + " " + member.full_name%>
  </p>
  <p class="member-position">
    <%= member.participant.administrative_title %>
  </p>
  <div class="member-websites">
    <% member.personal_websites.each do |website| %>
      <a href="<%= website.url_formatted %>" target="_blank" title="<%= website.website_name %>">
        <%= image_tag(website.website_template.logo.url, class: "website-logo") %>
      </a>
    <% end %>
    <a href="mailto:<%= member.participant.email %>">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
  </div>
</div>
