<div class="member-card">
  <%= image_tag(member.avatar.url, class: "member-image") %>
  <p class="member-name">
    <%= member.participant.title + " " + member.full_name%>
  </p>
  <p class="member-position">
    <%= member.participant.administrative_title %>
  </p>
  <div class="member-websites">
    <% member.personal_websites.each do |website| %>
      <%= link_to website.url, title: website.website_name do %>
        <%= image_tag(website.website_template.logo.url, class: "website-logo") %>
      <% end %>
    <% end %>
  </div>
</div>
