<div class="haip-row">
  <%= image_tag("haip") %>
</div>
<div class="haip-dev">
  <div class="dev">
    <%= image_tag("h") %>
    <p>Harilaos Bournis</p>
  </div>
  <div class="dev">
    <%= image_tag("a") %>
    <p>Athanasios Doulgeris</p>
  </div>
  <div class="dev">
    <%= image_tag("i") %>
    <p>Ioannis Boutsikas</p>
  </div>
  <div class="dev">
    <%= image_tag("p") %>
    <p>Panayiotis Kapsalas</p>
  </div>
</div>
