<%= simple_form_for(@journal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :volume %>
    <%= f.input :issue %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
