
  <% if current_member %>
    <li class="dropdown login-module">
      <a href="#" class="dropdown-toggle dropdown-display-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Welcome, <%= current_member.full_name %><span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to edit_member_path(current_member) do %>
            Manage Profile <i class="fa fa-user pull-right" aria-hidden="true"></i>
          <% end %>
        </li>
        <% if current_member.isAdmin %>
          <li>
            <%= link_to admin_path do %>
              Admin Dashboard <i class="fa fa-tachometer pull-right" aria-hidden="true"></i>
            <% end %>
          </li>
        <% end %>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to destroy_member_session_path, method: :delete do %>
            Sign Out <i class="fa fa-sign-in pull-right" aria-hidden="true"></i>
          <% end %>
        </li>
      </ul>
    </li>
  <% else %>
  <li class="login-module">
    <%= link_to new_member_session_path do %>
      <i class="fa fa-sign-in" aria-hidden="true"></i>
    <% end %>
  </li>
  <% end %>
