<div class="news-item">

  <div class="row">

    <div class="news-date-column">
      <div class="date">
        <span class="day"><%= item.date.strftime("%d") %></span>
        <span class="month"><%= item.date.strftime("%b") %></span>
      </div>
    </div>

    <div class="news-item-heading">
      <p><%= item.title %></p>
    </div>
    
  </div> <!--end of row-->

  <div class="news-item-content">
    <%= (item.content).html_safe %>
  </div>

</div>

<!--div class="news-piece">
  <h3 class="news-title"><%= item.title %></h3>
  <p class="news-date"><%= item.date_formatted %></p>
</div-->
