<div class="news-item">

  <div class="row">

    <div class="news-date-column">
      <div class="date">
        <span class="day"><%= item.date.strftime("%d") %></span>
        <span class="month"><%= item.date.strftime("%b") %></span>
      </div>
    </div>

    <div class="news-item-heading">
      <p><%= item.title %></p>
    </div>

  </div> <!--end of row-->

  <div class="row">
    <div class="news-item-content ellipsis" id="news-item-content-<%= item.id%>">
      <div class="content-wrapper">
        <%= (item.content).html_safe %>
      </div>
    </div>

    <% if item.content.split.size > 50 %>

      <div class="news-item-read-more-button">
        <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
          <button class="news-item-toggle" data-target="news-item-content-<%= item.id%>">
            Show more
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--div class="news-piece">
  <h3 class="news-title"><%= item.title %></h3>
  <p class="news-date"><%= item.date_formatted %></p>
</div-->
