<!DOCTYPE html>
<html>
<head>
  <title>EDucational InformaTics - CITY College - Research Group on Educational Technology</title>
  <script>
    if(typeof(google) == 'undefined') {
      document.write('<scr' + 'ipt type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyCzNGfbx6Nu4DF9G71r-5sbLNWmyUpCDyA"></scr' + 'ipt>');
    }
  </script>
  <%= stylesheet_link_tag    'frontend', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'frontend', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'home/header' %>

<% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info", id: "flash_notification") %>
<% end %>

<div class="container" id="yield-container">
  <%= yield %>
</div>


<%= render 'home/footer' %>

<%= render 'cookies_eu/consent_banner' %>
</body>
</html>
