<%= simple_form_for(@member, html: { id: "form_websites" }) do |f| %>

  <%= render partial: 'admin/dashboard/errors',locals: {resource: @member} %>

  <div class="form-inputs">

    <%= f.fields_for :personal_websites do |w| %>
        <%= w.association :website_template, label_method: :website_name,value_method: :id, prompt: "Choose website type", validate: true, error: false %>
        <span class='help-block client_side_error' id="<%= "#{w.object_name}[website_template_id]" %>"></span>

        <%= w.input :url, label: 'URL', validate: true, error: false %>
        <span class='help-block client_side_error' id="<%= "#{w.object_name}[url]" %>"></span>

    <% end %>

    <div>
      <%= link_to_add_association 'add website', f, :personal_websites, partial: 'admin/dashboard/personal_website_fields',render_options: { locals: {f: f} } %>
    </div>
  </div>

<% end %>
