<%= simple_form_for(@member, html: { id: "form_change_password" }) do |f| %>

  <%= render partial: 'admin/dashboard/errors',locals: {resource: @member} %>

  <div class="form-inputs">

    <%= f.hidden_field :id %>

    <%= f.input :email, required: true, validate: true, error: false %>
    <span class='help-block client_side_error' id="<%= "#{f.object_name}[email]" %>"></span>

    <%= f.input :password, required: true, validate: true, error: false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <span class='help-block client_side_error' id="<%= "#{f.object_name}[password]" %>"></span>

    <%= f.input :password_confirmation, required: true, validate: true,error: false %>
    <span class='help-block client_side_error' id="<%= "#{f.object_name}[password_confirmation]" %>"></span>
  </div>

<% end %>
